<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="test">
        <classes>
             <class name="in.srssprojects.keximbank.BasicExecution">
                <methods>
                    <include name="testLogin"/>
                    <include name="testLogout"/>
                    <include name="testBranchCreation"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>