<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <listeners>
        <listener class-name="in.srssprojects.keximbank.TestListener"></listener>
    </listeners>
    <test name="test">
        <parameter name="username" value="Admin"></parameter>
		<parameter name="password" value="Admin"></parameter>
        <classes>
             <class name="in.srssprojects.keximbank.BasicExecution">
                <methods>
                    <include name="testLogin"/>
                    <include name="testLogout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>