<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="test">
        <classes>
            <class name="in.srssprojects.keximbank.TestExecution">
                <methods>
                    <include name="testLogin"></include>
                    <include name="testLogout"></include>
                    <include name="testBranchSearch"/>
                    <include name="testBranchSearchClear"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>